/* CSS Styles for Phishtopia */

/* Color Names */
:root {
  --dark-text: #331b01;
  --light-text: #ffb76a;
  --dark-section-bg: #274744;
  --light-section-bg: #d16e04;
  --blue-main-bg: #19c4df;
}

/* Background Styles */
.gradient-background {
  background: linear-gradient(300deg, var(--blue-main-bg),  var(--light-section-bg), var(--dark-section-bg));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.light-bg {
  background-color: var(--blue-main-bg);
  color: var(--dark-section-bg)
}

.dark-bg {
  background-color: var(--dark-section-bg);
  color: var(--light-section-bg);
}

.orange-bg {
  background-color: var(--light-section-bg);
  color: var(--dark-text);
}

/* Image Styles */
.logo {
  border-radius: 50%;
  width: 50px;
}

/* Text Styles */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.25rem;
  color: var(--dark-text);
}

p {
  font-size: 1.5rem;
  color: var(--dark-text);
}

a:link {
  color: var(--dark-text)!important;
}

a:visited {
  color: var(--light-section-bg)!important;
}

a:hover {
  color: var(--dark-section-bg)!important;
}

a:active {
  color: var(--light-text)!important;
}

.pompiere-regular,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond,
p,
button {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
  animation: text-color-animation 18s ease infinite;
}

@keyframes text-color-animation {
  0% {
    color: var(--light-section-bg);
  }

  33% {
    color: var(--blue-main-bg);
  }

  66% {
    color: var(--dark-section-bg);
  }

  100% {
    color: var(--light-section-bg);
  }
}

/* Button Styles */
.btn-outline-light {
  border-color: var(--dark-text);
  background-color: var(--light-text);
  color: var(--dark-text);
}

.btn-outline-dark {
  border-color: var(--dark-text);
  background-color: var(--dark-section-bg);
  color: var(--light-text);
}

/* Section Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  border-bottom: 3px solid var(--dark-section-bg);
}

.main-grid {
  background: var(--blue-main-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
  align-items: start;
}

.hero-section {
  grid-column: span 2;
  margin-bottom: 20px;
}
.subtitle {
  margin-top: 10px;
}

.storecalc-section,
.projects-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
  grid-column: span 1;
  padding-bottom: 2rem !important;
}

.projects-section > :last-child,
.storecalc-section > :last-child {
  margin-top: auto;
}

.storecalc-section p {
  color: var(--light-section-bg);
}

.carousel-section {
  grid-column: span 2;
}

.carousel-caption {
  color: var(--dark-text);
  background-color: #19c5dfc7;
  padding: 10px;
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--dark-text);
}

#copyright {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-links {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: var(--blue-main-bg);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
  }

  .hero-section,
  .storecalc-section,
  .projects-section,
  .carousel-section, .birthday-section {
    grid-column: span 1;
  }
}