<!-- Footer -->
<div class="footer gradient-background">
    <div class="footer-links">
        <p><a href="/">Home</a></p>
        <p><a href="/static">My Course Progress</a></p>
        <p><a href="/contact">Contact Me</a></p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/navbar.js"></script>

<!-- Extra Scripts -->
<% if (extraScripts) { %>
    <% extraScripts.forEach(src=> { %>
        <script src="<%= src %>"></script>
        <% }) %>
            <% } %>
                </body>

                </html>