<footer class="footer gradient-background">
    <div class="footer-links">
        <p><a href="/">Home</a></p>
        <p><a href="/youlist">YouList</a></p>
        <p><a href="/echotrace">EchoTrace</a></p>
        <p><a href="/storecalc">StoreCalc</a></p>
        <p><a href="/contact">Contact</a></p>
    </div>
</footer>

<% if (extraScripts) { %>
    <% extraScripts.forEach(src => { %>
        <script src="<%= src %>"></script>
    <% }); %>
<% } %>
</body>
</html>
