/* CSS Styles for Simon */

/* Color Names */
:root {
  --dark-text: #331b01;
  --light-text: #ffb76a;
  --dark-section-bg: #274744;
  --light-section-bg: #d16e04;
  --blue-main-bg: #011F3F;;
}

/* Background Styles */
.gradient-background {
  background: linear-gradient(300deg, var(--blue-main-bg), var(--light-section-bg), var(--dark-section-bg));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.light-bg {
  background-color: var(--blue-main-bg);
  color: var(--dark-section-bg)
}

.dark-bg {
  background-color: var(--dark-section-bg);
  color: var(--light-section-bg);
}

.orange-bg {
  background-color: var(--light-section-bg);
  color: var(--dark-text);
}

/* Image Styles */
.logo {
  border-radius: 50%;
  width: 50px;
}

/* Text Styles */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.25rem;
  color: var(--dark-text);
}

p {
  font-size: 1.5rem;
  color: var(--dark-text);
}

a:link:not(a.btn, .footer-links a) {
  color: var(--dark-text) !important;
}

a:visited:not(a.btn, .footer-links a) {
  color: var(--light-section-bg) !important;
}

a:hover:not(a.btn, .footer-links a) {
  color: var(--dark-section-bg) !important;
}

a:active:not(a.btn, .footer-links a) {
  color: var(--light-text) !important;
}

.footer-links a:link {
  color: var(--light-text) !important;
}

.footer-links a:visited {
  color: var(--light-section-bg) !important;
}

.footer-links a:hover  {
  color: #f1a43ec7 !important;
}

.footer-links a:active {
  color: var(--light-text) !important;
}
.pompiere-regular,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond,
p,
button,
a.btn {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
  animation: text-color-animation 18s ease infinite;
}

@keyframes text-color-animation {
  0% {
    color: var(--light-section-bg);
  }

  33% {
    color: var(--blue-main-bg);
  }

  66% {
    color: var(--dark-section-bg);
  }

  100% {
    color: var(--light-section-bg);
  }
}

/* Button Styles */
.btn {
  font-size: 1.3rem;
}

.btn-outline-light {
  border-color: var(--dark-text);
  background-color: var(--light-text);
  color: var(--dark-text);
}

.btn-outline-dark {
  border-color: var(--dark-text);
  background-color: var(--dark-section-bg);
  color: var(--light-text);
}

/* Section Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  border-bottom: 3px solid var(--dark-section-bg);
}

.main-grid {
  background: var(--blue-main-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  flex-grow: 1;
  align-items: start;
}

.hero-section {
  grid-column: span 2;
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 10px;
}

.birthday-section {
  grid-column: span 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#play-video {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: pink;
  color: purple;
  font-size: 2rem;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  border: purple 3px solid;
  border-radius: 10px;
  text-align: center;
}

.birthday-section h2 {
  font-size: 4rem;
  color: #ff00ddff;
  text-shadow: 2px 2px 4px purple;
}

#ash-birthday {
  margin-top: 20px;
  width: 80%;
  display: none;
  /* Hide the video initially */
}

.storecalc-section,
.projects-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
  grid-column: span 1;
  padding-bottom: 2rem !important;
}

.projects-section> :last-child,
.storecalc-section> :last-child {
  margin-top: auto;
}

.storecalc-section p {
  color: var(--light-section-bg);
}

.carousel-section {
  grid-column: span 2;
}

.carousel-caption {
  color: var(--dark-text);
  background-color: #19c5dfc7;
  padding: 10px;
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--dark-text);
}

#copyright {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-links {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: var(--blue-main-bg);
}

.footer-links p {
  margin: 0 10px 10px 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
  }

  .hero-section {
    grid-column: span 1;
  }
}

.simon {
  text-align: center;
  background-color: #011F3F;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.span-2 {
  grid-column: span 2;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.simon-btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  padding: 0.7em 1.4em 0.7em 1.4em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 30px;
  transition: box-shadow 0.2s ease-in-out;
}

.start-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #05260e98;
}

.start-button:active {
  box-shadow: 0 0.3em 1em -0.5em #fbfcfb98;
}