# Node / dependencies
node_modules/
.npm
.yarn/*
.pnp.*

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build / cache
.cache
.parcel-cache

# Env files
.env
.env.*

# IDE / editor
.vscode
.vscode-test
.tern-port

# Ignore devcontainer
.devcontainer

# Ignore framework-specific caches (only if not used)
.next
.nuxt
.cache/
.svelte-kit/
Fullstack-Course
