
<%- include('partials/header', { title: 'Contact Me', bodyClass: '' }) %>

<main class="main-grid">
        <section class="hero-section contact-section gradient-background">
            <h1 class="gradient-text">Contact Me</h1>
            <p><a href="mailto:contact@phishtopia.com">Email: contact@phishtopia.com</a></p>
            <p><a href="https://github.com/PhishyOne">Github: PhishyOne</a></p>
        </section>
    </main>

<%- include('partials/footer') %>