
<%- include('partials/header', { title: 'Contact Me' }) %>

<main class="main-grid">
        <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
            <h1 class="gradient-text">Contact Me</h1>
            <p><a href="mailto:chessphishguy@phishtopia.com">Email: chessphishguy@phishtopia.com</a></p>
            <p><a href="https://github.com/PhishyOne">Github: PhishyOne</a></p>
            <p><a href="https://discordapp.com/users/1061044601164677131">Discord: phishy_one</a></p>
            <p><a href="https://t.me/PhishyOne">Telegram: Sir Phishington</a></p>
        </section>
    </main>

<%- include('partials/footer') %>