
<%- include('partials/header', { title: 'Food Display' }) %>
  <!-- Main Content -->
  <main class="main-grid">
    <!-- Hero Section -->
    <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
      <h1 class="gradient-text">Food Display</h1>
      <p>Coming Soon</p>
    </section>
  </main>

<%- include('partials/footer') %>