
<%- include('partials/header', { title: 'Projects Categories' }) %>
    
  <!-- Main Content -->
  <main class="main-grid">
    <!-- Hero Section -->
    <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
      <h1 class="gradient-text">Project Categories</h1>
    </section>
    <!-- Projects Sections -->
    <div class="projects-grid">
      <!-- This Just In Section -->
      <section class="projects-section just-in-section">
        <h2>This Just In:</h2>
        <ul>
          <li><a href="simon"><h3>"Simon"</h3></a></li>
        </ul>
      </section>
      <!-- Project Categories -->
      <section class="projects-section projects-list-section">
        <a href="software"><h2>Software</h2></a>
      </section>
      <section class="projects-section projects-list-section">
        <a href="art"><h2>Art</h2></a>
      </section>
      <section class="projects-section projects-list-section">
        <a href="food"><h2>Food</h2></a>
      </section>
      <section class="projects-section projects-list-section">
        <a href="engineering"><h2>Engineering</h2></a>
      </section>
    </div>
  </main>

<%- include('partials/footer') %>
