
<%- include('partials/header', { title: 'Projects' , bodyClass: '' }) %>

    
  <!-- Main Content -->
  <main class="main-grid">
    <!-- Hero Section -->
    <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
      <h1 class="gradient-text">Projects</h1>
    </section>
    <!-- Projects Sections -->
    <div class="projects-grid">
      <!-- This Just In Section -->
      <section class="projects-section just-in-section">
        <h2>2025:</h2>
        <ul>
          <li><a href="PlayInt"><h3>Echoes PlayInt</h3></a></li>
          <li><a href="INTM-Logo"><h3>Animated INTM Logo</h3></a></li>
          <li><a href="simon"><h3>Simon Game</h3></a></li>
          <li><a href="https://phishyone.github.io/Fullstack-Course/"><h3>App Brewery Web Dev Course Projects</h3></a></li>
        </ul>
      </section>
    </div>
  </main>

<%- include('partials/footer') %>
