
<%- include ('partials/header'), { title: 'Software Showcase' } %>
  
<!-- Main Content -->
  <main class="main-grid">
    <!-- Hero Section -->
    <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
      <h1 class="gradient-text">Software Showcase</h1>
      <p>Click a link below</p>
    </section>
    <section class="hero-section gradient-background rounded-3 pt-2 pb-1 ps-5">
      <a href="simon"><h3>Simon</h3></a>
    </section>
  </main>

<%- include ('partials/footer') %>