
<%- include ('partials/header'), { title: 'StoreCalc Online' } %>

  <!-- Main Content -->
  <main class="main-grid">
    <!-- Hero Section -->
    <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
      <h1 class="gradient-text">StoreCalc Online</h1>
      <p>Egg Stage - This will be the first project I work on after completing my fullstack course.</p>
    </section>
  </main>

<%- include ('partials/footer') %>