<%- include ('partials/header'), { title: 'Movie Database' } %>

    <!-- Main Content -->
    <main class="main-grid">
        <!-- Hero Section -->
        <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
            <h1 class="gradient-text">Movie Database</h1>
            <p>This will soon be a user-created movie database.</p>
        </section>
    </main>

    <%- include ('partials/footer') %>