<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dice Game - A simple dice rolling game.">
    <meta name="keywords" content="Dice Game, game, dice, roll, fun, entertainment">
    <meta name="author" content="PhishyOne">
    <meta name="theme-color" content="#05899E">
    <title>Dice Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
    <h1>Dice Game</h1>
    <h2>Click the button to roll the dice.</h2>
    </div>
    <div class="container">
        <button id="rollButton">Roll Dice</button>
        <div class="dice-container">
            <div class="p1-container">
                <h2>Player 1</h2>
            <img id="player1" src="./images/dice1.png" alt="Dice showing 1">
            </div>
            <div class="p2-container">
                <h2>Player 2</h2>
            <img id="player2" src="./images/dice1.png" alt="Dice showing 1">
            </div>
        </div>
        <h2 class="result">Good Luck!</h2>
    </div>
    <script src="./script.js"></script>
</body>
</html>