<%- include ('../partials/header', { title: 'YouList - Movies' }) %>

    <!-- Main Content -->
    <main class="main-grid">
        <!-- Hero Section -->
        <section class="hero-section gradient-background rounded-3 pt-4 pb-3 ps-5">
            <h1 class="gradient-text">YouList - Movies (Under Construction)</h1>
            <p>This will soon be a peer reviewed movies list.</p>
        </section>
    </main>

    <%- include ('../partials/footer') %>