<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Progress</title>
    <link rel="stylesheet" href="/styles/app-brewery.css">
</head>
<body>
    <h1>My Course Progress</h1>
    <p>Click on a screenshot to view the completed project.</p>
    <p>Check out my code for these projects and more <a href="https://github.com/PhishyOne">HERE</a>.</p>
    <hr />
    <hr />
    <h2>------Back-End Projects------</h2>
    <p>To view my code for the back-end projects, check out the <a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server">server</a> directory. Each project has css styling in public, JS in routes, and EJS (html) in views</p>
    <h3>Chapter 34 - Movie Database (Under Construction)</h3>
    <p></p>
    <a href="/project34/">
        <!-- <img src="/project34/preview.png" alt="Preview of Movie Database">--></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            33-3 Code</a></p>
    <hr />
    <h3>Chapter 33-3 - To Do List</h3>
<p>For my next trick, I used each method of CRUD (Create, Read, Update, Delete) to make a simple to do list that will not erase after a refresh. This list is stored in a PostgreSQL database, so have fun and add as many (shared) items as you'd like.</p>
    <a href="/project33-3/">
        <img src="/project33-3/preview.png" alt="Preview of To Do List"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            33-3 Code</a></p>
    <hr />
    <h3>Chapter 33-2 - Family Travel Tracker</h3>
    <p>This was just an extension of the previous project, allowing multiple users to track their travels.</p>
    <a href="/project33-2/">
        <img src="/project33-2/preview.png" alt="Preview of Family Travel Tracker"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            33-2 Code</a></p>
            <hr />
    <h3>Chapter 33-1 - Travel Tracker</h3>
    <p>This was a pretty neat project for a user to track their travels around the world. I demonstrate my ability to access a database to send and receive data. I also went the extra mile and added a clear button for the map and autocomplete for the input box.</p>
    <a href="/project33-1/">
        <img src="/project33-1/preview.png" alt="Preview of Global Travel Tracker"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            33-1 Code</a></p>
            <hr />
    <h3>Chapter 30 - Blog API</h3>
    <p>Here, I create a server to allow users to look at, add, modify, or delete blog posts. Once again, the hardest part of this project was integrating it into this server as a router after it was originally completed.</p>
    <a href="/project30/">
        <img src="/project30/preview.png" alt="Preview of a Simple Blog"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            30 Code</a></p>
            <hr />
    <h3>Chapter 29 - Capstone Project - Eve Echoes PlayInt</h3>
    <p>Now I get to have some fun! I constructed an Eve Echoes intelligence-gathering web application using the public API provided by echoes.mobi. The user enters a player's name and the application retrieves timestamps and locations from kill/loss-mails. This data is then processed and displayed as places and times most likely to find the player.</p>
    <a href="/project29/">
        <img src="/project29/images/preview.png" alt="Preview of Eve Echoes PlayInt Project"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            29 Code</a></p>
            <hr />
    <h3>Chapter 28 - Secrets</h3>
    <p>Interacting with other servers' API's was interesting, but only a fraction of what I learned is put on display here. Using the given setup, users retrieve a random secret from the app brewery server. However, I also learned how to create, modify, ane delete information using the API documentation from another server. I also learned how to generate and maintain actual backend secrets like usernames and passwords, bearer tokens, and API keys, but there was no opportunity to display any of this here.</p>
    <a href="/project28/">
        <img src="/project28/preview.png" alt="Preview of Secrets Project"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            28 Code</a></p>
            <hr />
    <h3>Chapter 25 - Band Name Generator</h3>
    <p>This was a lot more work than it appears. I set up a server with Heroku, changed the structure of this site for compatibility, and successfully deployed the previous projects on github pages and this project on Heroku. Oh and made a band name generator...almost forgot.</p>
        <a href="/project25/">
            <img src="/project25/preview.png" alt="Preview of Band Name Generator"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/app-brewery-server/">My Chapter
            25 Code</a></p>
              <hr />
            <hr />
    <h2>------Front-End Projects------</h2>
    <h3>Chapter 20 - Simon</h3>
    <p>You may remember this game from your childhood. The user has to watch buttons light up and reproduce the correct order by pressing the buttons. I used everything I've learned in JS except (surprisingly) loops to make this game to the course specs, which admittedly leaves much room for improvement. Nonetheless, it's simply a demonstration of my growing skills. Edit: I went back and made this mobile compatible.</p>
    <a href="/static/20-Simon/">
        <img src="/static/20-Simon/preview.png" alt="Preview of Simon Game"></a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/20-Simon">My Chapter
        20 Code</a></p>
    <hr />
    <h3>Chapter 18.2 - Drums Improved</h3>
    <p>I wasn't satisfied with the unpolished version of the drum kit that was supposed to be completed in this lesson. I knew there must be a more efficient way to load the sounds ahead of time and to avoid creating a new audio object whenever a sound was played. So here I simplify my code and got help from AI to learn how to preload sounds. It works noticibly faster in rendering sounds.</p>
    <a href="/static/18-2-Drums-Improved/">
        <img src="/static/18-2-Drums-Improved/images/preview.png" alt="Preview of Drum Set">
    </a>
    <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/18-2-Drums-Improved">My Chapter 18-2
            Code</a></p>
    <hr />
    <h3>Chapter 18.1 - Drums</h3>
    <p>Here I use JS queries, event listeners for keypresses and clicks, and a switch to call various drum sounds when the user clicks the corresponding drum.</p>
        <a href="/static/18-1-Drums/">
            <img src="/static/18-1-Drums/images/preview.png" alt="Preview of Drum Set">
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/18-1-Drums">My Chapter 18-1 Code</a></p>
    <hr />
    <h3>Chapter 17 - Dice Game</h3>
    <p>After a week or two to train up on JavaScript, I'm ready to begin applying it to the web. I made a dice game where two players compete to roll the highest and added a button to run it for extra credit. Just to show I haven't forgotten how to use HTML and CSS, I used things like flexbox and a custom font to make the page a little less boring. Give it a try!</p>
        <a href="/static/17-Dice-Game/">
            <img src="/static/17-Dice-Game/images/preview.png" alt="Preview of Dice Game">
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/17-Dice-Game">My Chapter 17 Code</a></p>
    <hr />
    <h3>Chapter 13 - Capstone - My Own Site</h3>
    <p>This project showcases my knowledge of the combination of HTML and CSS. I redesigned Phishtopia to reflect my progress with a major update of the entire page.</p>
        <a href="/static/13-Phishtopia-v1.0/">
            <img src="/static/13-Phishtopia-v1.0/images/preview.png" alt="Preview of phishtopia.com">
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/13-Phishtopia-v1.0">My Chapter 13 Code</a></p>
    <hr />
    <h3>Chapter 12 - Web Design</h3>
    <p>I quickly created a hotel home page. I put something together but honestly didn't showcase what I learned. There should be more contrast in the title, serif and sans-serif should be mixed in title and subheading, and additional pages could have been added on. The purpose of my negligence is to show that in 20 minutes, I can make something decent enough to get started with an idea.</p>
    <p>Click the image to visit my hotel site</p>
        <a href="https://phishtopia.my.canva.site/">
            <img src="/static/12-Design/preview.png" alt="Preview of Hotelligent page"/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/12-Design">My Chapter 12 Code</a></p>
    <hr />
    <h3>Chapter 11 - TinDog</h3>
    <p>I created a landing page for a dog dating app using Bootstrap. The page includes several sections which precisely replicates the goal image primarily using bootstrap for modified snippets and examples. Things are starting to come together to look like a real page.</p>
        <a href="/static/11-TinDog/">
            <img src="/static/11-TinDog/images/preview.png" alt="Preview of TinDog landing page"/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/11-TinDog">My Chapter 11 Code</a></p>
    <hr />
    <h3>Chapter 10 - Mondrian Project</h3>
    <p>My task here was to replicate Mondrian's artwork using grid, almost exclusively and from scratch.</a></p>
        <a href="/static/10-Mondrian/">
            <img src="/static/10-Mondrian/preview.png" alt="Preview of my art replica project"/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/10-Mondrian">My Chapter 10 Code</a></p>
    <hr />
    <h3>Chapter 9 - Pricing Table</h3>
    <p>Matching the goal visually and functionally, I made a three-part table using flexbox. This table includes item title, price, description, a button, and background. The table is adaptive to screen size and switches to a single column on mobile.</p>
        <a href="/static/9-Prices/">
            <img src="/static/9-Prices/preview.png" alt="Preview of a pretend pricing table"/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/9-Prices">My Chapter 9 Code</a></p>
    <hr />
    <h3>Chapter 8 - Agency Website</h3>
    <p>Given the specs of how the website should be laid out -- using only floats, widths, and block/inline-block displays (no flexbox, grid, or bootstrap) -- I managed to construct their site with a media query to be responsive to display size and stack the content accordingly</p>
        <a href="/static/8-Agency/">
            <img src="/static/8-Agency/assets/images/preview.png" alt="Preview of the website I made for a pretend agency."/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/8-Agency">My Chapter 8 Code</a></p>
    <hr />
    <h3>Chapter 7 - Laos Flag</h3>
    <p>Following strict guidelines, I solved the puzzle of creating the flag of Laos using only CSS to style divs (boxes). Basically, I sized, positioned, shaped, and colored rectangles before sizing and positioning the text to create the flag.</p>
        <a href="/static/7-Flag/">
            <img src="/static/7-Flag/assets/images/preview.png" alt="Preview of the flag I made matching the goal image of the project."/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/7-Flag">My Chapter 7 Code</a></p>
    <hr />
    <h3>Chapter 6 - Motivational Meme</h3>
    <p>Using HTML and CSS, I made a classic-style original meme with a custom font, borders, aligned and transformed text, margins, sizing, and a background.</p>
        <a href="/static/6-Meme/">
            <img src="/static/6-Meme/assets/images/preview.png" alt="Preview of code and finished product for an original meme"/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/6-Meme">My Chapter 6 Code</a></p>
    <hr />
    <h3>Chapter 5 - Colors in Spanish</h3>
    <p>Created a style.css file where I formatted html text color, font weight, and image height & width using class, tag, and element selectors.</p>
        <a href="/static/5-Spanish-Colors/">
            <img src="/static/5-Spanish-Colors/preview.png" alt="Colorful Spanish words in different colors matching the text, featuring words like rojo, azul, and verde in a simple layout" height=200/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/5-Spanish-Colors">My Chapter 5 Code</a></p>
    <hr />
    <h3>Chapter 4 - This Page!</h3>
        <p>Using html, this page showcases my knowledge on referencing images, creating hyperlinks, and structuring a simple webpage.</p>
        <a href="/static/4-This-Page/index.html">
            <img src="/static/4-This-Page/preview.png" alt="Preview of this page and code" height=200/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/4-This-Page/">My Chapter 4 Code</a></p>
    <hr />
    <h3>Chapter 3 - Birthday Invite</h3>
        <p>I learned to insert an image and made an unordered list.</p>
        <a href="/static/3-Birthday/birthday-invite.html">
            <img src="/static/3-Birthday/preview.png" alt="Birthday invitation card with colorful balloons and confetti, displaying cheerful text You are invited and event details in a festive layout, creating a joyful and celebratory atmosphere" height=200/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/3-Birthday">My Chapter 3 Code</a></p>
    <hr />
    <h3>Chapter 2 - Movie Rank</h3>
        <p>I use different headers and a paragraph element to format my text to different sizes in an orderly fashion.</p>
        <a href="/static/2-Movies/movie-rank.html">
            <img src="/static/2-Movies/preview.png" alt="Movie ranking list with a dark-themed background, featuring a top 3 list of favorite movies with titles and brief descriptions, creating a cinematic and engaging visual presentation." height=200/>
        </a>
        <p><a href="https://github.com/PhishyOne/Phishtopia.com/tree/main/views/app-brewery-static/2-Movies">My Chapter 2 Code</a></p>
    <hr />
    <p><a href="https://phishtopia.com">Back Home</a></p>
</body>
</html>