body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: transparent;
}

div {
    position:relative; 
    width:450px; 
    height:450px; 
}

canvas {
    background: transparent;
}