<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Progress</title>
</head>

<body>
    <h1>My Course Progress</h1>
    <h2>Completed Projects</h2>
    <p>Click on a screenshot to view the completed project.</p>
    <p>Check out my code for these projects and more <a href="https://github.com/PhishyOne">HERE</a>.</p>
    <hr />
    <h3>Chapter 4 - This Page!</h3>
    <p>Using html, this page showcases my knowledge on referencing images, creating hyperlinks, and structuring a simple
        webpage.</p>
    <img src="./preview.png" alt="Preview of this page with code" height=200 />
    <p><a href="https://github.com/PhishyOne/Fullstack-Course/tree/main/Completed-Projects/4-This-Page">My Chapter 4
            Code</a></p>
    <hr />
    <h3>Chapter 3 - Birthday Invite</h3>
    <p>I learned to insert an image and made an unordered list.</p>
    <a href="../3-Birthday/birthday-invite.html">
        <img src="../3-Birthday/preview.png"
            alt="Birthday invitation card with colorful balloons and confetti, displaying cheerful text You are invited and event details in a festive layout, creating a joyful and celebratory atmosphere"
            height=200 />
    </a>
    <p><a href="https://github.com/PhishyOne/Fullstack-Course/tree/main/Completed-Projects/3-Birthday">My Chapter 3
            Code</a></p>
    <hr />
    <h3>Chapter 2 - Movie Rank</h3>
    <p>I use different headers and a paragraph element to format my text to different sizes in an orderly fashion.</p>
    <a href="../2-Movies/movie-rank.html">
        <img src="../2-Movies/preview.png"
            alt="Movie ranking list with a dark-themed background, featuring a top 3 list of favorite movies with titles and brief descriptions, creating a cinematic and engaging visual presentation."
            height=200 />
    </a>
    <p><a href="https://github.com/PhishyOne/Fullstack-Course/tree/main/Completed-Projects/2-Movies">My Chapter 2
            Code</a></p>
    <hr />
    <p><a href="https://phishtopia.com">Back Home</a></p>
</body>

</html>